// Receives a comma-separated list of modifiers, as defined below
@mixin layout-modifiers($modifiers...) {
    $selector: '';

    @if contains($modifiers, ltr) {
        $selector: $selector + '[dir=ltr]';
    }

    @if contains($modifiers, rtl) {
        $selector: $selector + '[dir=rtl]';
    }

    #{$selector} & {
        @content
    }
}
