@mixin rtl-invert ($selector, $value) {
    $inverse: (
        left: right,
        right: left,
        margin-left: margin-right,
        margin-right: margin-left,
        padding-left: padding-right,
        padding-right: padding-left,
        border-left: border-right,
        border-right: border-left
    );

    @if $selector == 'float' {
        float: $value;

        @include layout-modifiers(rtl) {
            float: map-get($inverse, $value);
        }
    } @else if $selector == 'text-align' {
        text-align: $value;

        @include layout-modifiers(rtl) {
            text-align: map-get($inverse, $value);
        }
    } @else if map-has-key($inverse, $selector) {
        @include layout-modifiers(ltr) {
            #{$selector}: $value;
        }

        @include layout-modifiers(rtl) {
            #{map-get($inverse, $selector)}: $value;
        }
    }
}
