.cover {
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba($color-darkness, 0),
    rgba($color-darkness, 1) 80%,
    rgba($color-darkness, 1)
    );

  @media (min-width: $tablet-breakpoint) {
    @include rtl_invert(padding-right, 5rem);
  }
}

.cover__title {
  padding-top: 7.8rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 0 2rem;
}

.cover__details {
  opacity: 0.6;
  font-size: 0.8rem;
  z-index: layer(main);
  margin: 0 2rem 2rem 2rem;
}

.cover__detailseperator {
  color: $background-header;
  font-weight: bold;
  margin: 0 0.3rem;
}

.cover__image {
  @include rtl_invert(float, left);
  margin: 2rem;
  width: 100px;
  height: 149px;
  box-shadow: 0 0 0.4rem $box-shadow;

  img {
    width: 100px;
  }
}
