$height_sass: 64;
$height_image_sass: $height_sass * 1px;
$duration-transition: 3s;
$rotation-transition: 1440deg;
$translateX-transition: 100%;

.sass {
   position: relative;
   height: $height_image_sass;
   overflow: hidden;

   display: block;
   padding: 0 $height_image_sass*0.66;
   font-size: 1150%;
   line-height: 15%;
   @include rtl-invert(text-align, right);
   color: $color-highlight;
   @include text-shadow();

   cursor: pointer;

   background-image: linear-gradient(
      to right,
      rgba($color-highlight, 0), 
      $color-lowlight 50%,
      $color-lowlight
   );

   @include layout-modifiers(rtl) {
      background-image: linear-gradient(
         to left,
         rgba($color-highlight, 0), 
         $color-lowlight 50%,
         $color-lowlight
      );
   }

   @include transition($duration-transition);

   &::before {
      position: absolute;
      top: 0;
      @include rtl-invert(left, -50%);
      display: block;
      content: '';
      width: 100%;
      height: $height_image_sass;
      z-index: layer(logo);

      @include transition($duration-transition);
      background: url(images/sass-#{$height_sass}.png) 50% 50% no-repeat;
   }

   &:hover::before {
      @include transform(translateX($translateX-transition) rotate($rotation-transition));

      @include layout-modifiers(rtl) {
         @include transform(translateX(-1*$translateX-transition) rotate(-1*$rotation-transition));
      }
   }

   span {
      position: relative;
      z-index: layer(under);

      &:nth-child(even) {
         z-index: layer(over);
         background-image: linear-gradient(
            to right, 
            rgba($color-highlight, 0), 
            rgba($color-lowlight, 0.9) 35%,
            rgba($color-lowlight, 0.9) 65%,
            rgba($color-highlight, 0) 
         );

         @include layout-modifiers(rtl) {
            background-image: linear-gradient(
               to left,
               rgba($color-highlight, 0), 
               rgba($color-lowlight, 0.9) 35%,
               rgba($color-lowlight, 0.9) 65%,
               rgba($color-highlight, 0) 
            );
         }
      }
   }
}
